.container {
    display: flex;
    max-width: 750px;
    max-height: 750px;
}

.row, .column {
    display: flex;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
    border: 1px solid black;
    box-sizing: border-box;
}

.color {
    background-color: rgb(254, 186, 60);
}