.container {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.row, .column {
    width: 20px;
    height: 20px;
    display: flex;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
    border: 1px solid black;
}

.color {
    background-color: rgb(254, 186, 60);
}